<h3>Edit post</h3>

<form class="" action="<%=post_url(@post.id)%>" method="post">
  <input type="hidden" name="_method" value="PATCH">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <label>Title:
    <input type="text" name="post[title]" value="<%= @post.title %>">
  </label>
  <label>URL (optional):
    <input type="text" name="post[url]" value="<%= @post.url %>">
  </label>
  <label>Content:
    <textarea name="post[content]" rows="8" cols="80"><%= @post.content %></textarea>
  </label>

  <input type="submit" name="" value="Update Post">

</form>
