<h1> <%= @sub.title %> </h1>
<h2>Moderated by <%= @sub.moderator.username %></h2>

<%= @sub.description %>

<%= link_to 'Back to all subs', subs_url %>
<% if @sub.moderator == current_user %>
  <%= link_to 'Edit Sub', edit_sub_url(@sub) %>
<% end %>

<% @sub.posts.each do |post| %>
  <%= "#{post.title} by #{post.author.username}" %>
  <%= post.url %>
  <%= post.content %>
  <% if current_user == post.author %>
    <%= link_to 'Edit post', "/subs/#{@sub.id}/posts/#{post.id}/edit" %>
    <%= button_to 'Delete post', "/subs/#{@sub.id}/posts/#{post.id}", method: :delete %>
  <% end %>
<% end %>


<%= link_to 'Add Post', new_sub_post_url(@sub) %>
