<div class="comment-div">
  <p class="comment"><%= comment.content %></p>
  <%= link_to 'Back to post', post_url(comment.post) %>
  <p class="username">-<%= comment.author.username %></p>
  <%= link_to 'View Comment Thread', comment_url(comment) %>
  <% if current_user == comment.author %>
    <%= button_to 'Delete comment', "/comments/#{comment.id}", method: :delete %>
  <% end %>
  <% comment.child_comments.each do |comment| %>
    <%= render 'comments/comment', comment: comment %>
  <% end %>
</div>
